.title{
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.filters {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

.filter-dropdown {
  padding: 8px 18px;
  font-size: 18px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: all 0.3s ease;
}

.filter-dropdown:hover {
  background-color: #e6e6e6;
}

.filter-dropdown:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.language-selector {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.lang-btn {
  padding: 10px 15px;
  margin: 5px;
  border: 2px solid #007BFF;
  border-radius: 5px;
  background-color: white;
  color: #007BFF;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.lang-btn:hover {
  background-color: #007BFF;
  color: white;
}

.lang-btn:focus {
  outline: none;
  box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.7);
}

.lang-btn.active {
  background-color: #007BFF;
  color: white;
}

.pagination-container {
  margin-top: 20px;
  text-align: center;
}

.pagination .page-item {
  display: inline-block;
}

.pagination .page-link {
  padding: 0.5rem 1rem;
  margin: 0 0.25rem;
  color: #007bff;
  border: 1px solid #007bff;
  border-radius: 0.25rem;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
}

.pagination .active .page-link {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.pagination .btn {
  padding: 0.5rem 1rem;
  margin: 0 0.25rem;
  cursor: pointer;
}

.pagination .btn-primary {
  background-color: transparent;
  border: 1px solid #007bff;
  color: #007bff;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.25rem;
}

.break {
  display: inline;
}

.btn-primary {
  display: inline;
}

